colorama==0.4.6
comtypes==1.4.4
contourpy==1.2.0
cycler==0.12.1
fonttools==4.46.0
importlib-resources==6.1.1
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.4
packaging==24.1
pandas==2.2.2
Pillow==10.1.0
py-dss-interface==2.0.4
pyparsing==3.1.1
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tzdata==2023.3
zipp==3.17.0
